/* Page Title
-------------------------------------------------------------- */
.page-title {
    position: relative;
    padding: 28px 0 22px; 
    overflow: hidden;   
    background-position: center 85%;
	background-repeat: no-repeat;
}


.breadcrumbs span.trail-browse {
	position: relative;
	margin-right: 5px;
}

.breadcrumbs span.sep {
    text-align: center;
	vertical-align: middle;
	margin: 0 10px;
	font-size: 15px;
}

.breadcrumbs span a,
.breadcrumbs a,
.breadcrumbs span {
	color: #999999;
	position: relative;	
	font-size: 18px;
	font-weight: 500;
}

.breadcrumbs span a:hover,
.breadcrumbs a:hover {
	text-decoration: underline;
}

.breadcrumbs .trail-end span {
	text-transform: capitalize;
}

.breadcrumbs span a span {
	-webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/* Style1 */
.page-title h1 {
	margin: 0;	
	position: relative;
	-ms-word-wrap: break-word;
    word-wrap: break-word;
    letter-spacing: -0.03em;
}

.page-title.left .page-title-container h1,
.page-title.left .breadcrumbs {
	text-align: left;
}

.page-title.center .page-title-container h1,
.page-title.center .breadcrumbs {
    text-align: center;
    margin-bottom: 19px;
}

.page-title.right .page-title-container h1,
.page-title.right .breadcrumbs {
	text-align: right;
}

.page-title.default .page-title-heading {
	margin-bottom: 19px;
}

.page-title.inline .page-title-container {
	display: table;
}

.page-title.inline .page-title-container h1,
.page-title.inline .breadcrumbs {
	display: table-cell;
	vertical-align: middle;
}

.page-title.inline .page-title-container h1 {
	text-align: left;
}

.page-title.inline .breadcrumbs {
	text-align: right;
}

.page-title .wrap-button-page-title {
	display: flex;
	height: 100%;
	justify-content: flex-end;
	align-items: center;
}